{% extends 'base.html' %}


{% block title %} Delete {{ student.first_name }} {{ student.last_name }} {% endblock %}

{% block content %}

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <br><br>
                <div class="card">
                    <form method="post">
                        {% csrf_token %}
                        <div class="card-body">
                            <h3 class="text-center">Are you sure to delete {{ student.first_name }} {{ student.last_name }}?</h3>
                        </div>
                        <div class="card-footer text-center">
                            <button type="submit" class="btn btn-success">Yes</button>
                            <a href="{% url 'list-of-students' %}" class="btn btn-secondary">No</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}