{% extends 'base.html' %}

{% block title %} Change Password Successfully {% endblock %}

{% block content %}

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <br><br><br>
                <div class="card">
                    <div class="card-body">
                        <h3 class="text-center">The password has been changed successfully</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
